h1 {
  text-align: center;
  margin: 0;
}

p {
  margin: 5px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.example-block {
  margin: 0 10px;
}

.section {
  margin: 5px 10px;
}

.action-list {
  list-style: none;
  display: block;
  padding: 0;
}

.action-list li {
  padding: 8px 0 8px 20px;
  cursor: pointer;
  color: #4a90e2;
  border-top: 1px solid #bababa;
}

.action-list li:last-child {
  border-bottom: 1px solid #bababa;
}

.action-list li.show-detail:after {
  content: '>';
  float: right;
  margin-right: 15px;
}

.action-list li:hover {
  color: #4a90e2;
  text-decoration: underline;
}

.action-block {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #bababa;
  margin-top: 20px;
}

.action-block.vertical {
  flex-direction: column;
}

.action-block.vertical button {
  margin: 10px 15px 5px 15px;
}
