html,
body {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

p {
  margin: 5px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.example-block {
  margin: 0 10px;
}

.section {
  margin: 5px 10px;
}

.action-list {
  list-style: none;
  display: block;
  padding: 0;
}

.action-list li {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
  color: #4a90e2;
  border-top: 1px solid #bababa;
}

.action-list li:last-child {
  border-bottom: 1px solid #bababa;
}

.action-list li.show-detail:after {
  content: '>';
  float: right;
  margin-right: 1rem;
}

.action-list li:hover {
  color: #4a90e2;
  text-decoration: underline;
}

.action-block {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.action-block button {
  margin: 0 0 8px 0;
  flex: 1;
}

.action-block button:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  .action-block {
    flex-direction: row;
  }

  .action-block button {
    margin: 0 8px 0 0;
  }
}
