h1 {
  text-align: center;
  margin: 0;
}

p {
  margin: 5px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.example-block {
  margin: 0 10px;
}

.section {
  margin: 5px 10px;
}

.action-list {
  list-style: none;
  display: block;
  padding: 0;
}

.action-list li {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
  color: #4a90e2;
  border-top: 1px solid #bababa;
}

.action-list li:last-child {
  border-bottom: 1px solid #bababa;
}

.action-list li.show-detail:after {
  content: '>';
  float: right;
  margin-right: 1rem;
}

.action-list li:hover {
  color: #4a90e2;
  text-decoration: underline;
}

.action-block {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #bababa;
  margin-top: 1rem;
}

.action-block.vertical {
  flex-direction: column;
}

.action-block.vertical button {
  margin: 0.63rem 0.5rem 0.2rem 0.5rem;
}
